#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.btn-generate-box {
  border: 1px solid black;
  border-radius: 1rem;
  width: 50%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.container {
  padding: 20px;
  border: 1px solid black;
  border-radius: 1rem;
  width: 50%;
  position: relative;
  display: flex;
  gap: 170px;
}
.time-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}
.generate-btn {
  padding: 10px 15px;
  font-size: 1rem;
  border: none;
  border-radius: 9px;
  background-color: #4cf568;
  cursor: pointer;
}
